div{
	min-width: 1100px;
	float:left;
	position:relative;
}
img{
	width: 270px;
	height: 129px;
}
.img2{
	width: 179px;
	height: 119px;
}
.mid{
	text-align: center;
}
.left{
	text-align: left;
}
.bord{
	border:1px solid #8f8f8f;
	padding:0px
}
span{
	position:relative;
	float:left;
	height:50px;
	width:110px;
}
.box{
	width:90px;
	text-align:left;
}
input{
	position:absolute;
	height:20px;
}
.box1{
	width:600px;
	min-width:600px;
	height:600px;
}
.box2{
	width:300px;
	min-width:300px;
	height:600px;
}
.text{
	top:0;
	position:absolute;
	border:1px solid #8f8f8f;
	font-size:16px;
	margin:0px;
	padding:9px 7px;
	padding-right:48px;
	width:600px;
}
a.table:visited, a.table:link{
	text-decoration:none;
	font-size:14px;
	color:#2f2f2f;
}
a.table:hover{
	text-decoration:underline;
	color:#0f0fff;
}
.button{
	cursor:pointer;
	height:40px;
	line-height:40px;
	width:100px;
	font-size: 18px;
	color:#fff;
	font-family: "arial,微软雅黑";
	background-color:#38f;
	border:0px;
	padding:0px;
	margin:0px;
}
.button:hover{
	background-color:#3e71f3;
}
.button_mid{
	cursor:pointer;
	height:40px;
	line-height:40px;
	width:90px;
	font-size: 18px;
	color:#000;
	font-family: "arial,微软雅黑";
	background-color:#fff;
	border:0px;
	margin:0px;
	padding:0px;
	margin:0px;
}
.button_mid:hover{
	background-color:#8f8f8f;
	color:#fff;
}